# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.venv
env/
venv/

# Testing
.pytest_cache/
htmlcov/
.coverage
.coverage.*
coverage.xml

# Lint/Type
.mypy_cache/
.ruff_cache/

# Build
*.tar.xz
*.deb
*.dsc
*.changes
*.buildinfo

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project
config.yaml
