project:
  name: {{ project.name }}
  package: {{ module_name }}
  version: {{ project.version }}

author:
  name: {{ author.name }}
  email: {{ author.email }}

github:
  owner: {{ github.owner }}

license: {{ license }}

debian:
  ppa: {{ debian.ppa }}

python:
  minimum: "{{ python.minimum }}"
